<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <!--<add key="dbConnectionPP" value="Provider=sqloledb;data source=mssql.dynalogicsystems.com;User ID=db_PPUser; Password=1025mcs!@#; Max Pool Size=500; Pooling=true; initial catalog=db_PP;" />-->
    <add key="dbConnectionPP" value="ProviderServer=tcp:presspreview.database.windows.net,1433;Initial Catalog=PPDB;Persist Security Info=False;User ID=db_PPUser;Password=1025mcs!@#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="SenderEmail" value="info@temp-devs.com" />
    <add key="SenderPassword" value="Mike123!@#" />
    <add key="MailServer" value="webmail.temp-devs.com" />
    <add key="AWSAccessKey" value="AKIAIHUD6ZN72SZXJBIA" />
    <add key="AWSSecretKey" value="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" />
    <add key="ChartImageHandler" value="storage=memory;timeout=20;" />
    <add key="googlemaps.subgurim.net" value="AIzaSyDpGlQ_iU2W0jsd-fOQL8qEwcKG0TKNucE" />
    <add key="GoogleAPIKey" value="AIzaSyAXhrPNmTsoAoAJJiY6zuJCma7nA5rOjrI" />
    <add key="SMTP_Server" value="webmail.temp-devs.com" />
    <add key="SMTP_Port" value="25" />
    <!--<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />-->
  </appSettings>
  <connectionStrings>
    <add name="dbConnectionPP" connectionString="Data Source=tcp:presspreview.database.windows.net,1433;Password=1025mcs!@#;User ID=db_PPUser; Max Pool Size=500; Pooling=true; Initial Catalog=PPDB" providerName="System.Data.OleDb" />
    <add name="GvConnection" connectionString="Provider=SQLOLEDB; Data Source=tcp:presspreview.database.windows.net,1433;Password=1025mcs!@#;User ID=db_PPUser; Max Pool Size=500; Pooling=true; Initial Catalog=PPDB" providerName="System.Data.OleDb" />
    <!--add name="GvConnection" connectionString="Provider=SQLOLEDB; Data Source=mssql.dynalogicsystems.com;Password=1025mcs!@#;User ID=db_PPUser; Max Pool Size=500; Pooling=true; Initial Catalog=db_PP" providerName="System.Data.OleDb" /-->
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />
<machineKey decryption="AES" decryptionKey="E1AB32A2B631AC828571AFA5E30162C8463537EAC7B37F11" validation="SHA1" validationKey="3CB27AFF0D365B22F14D3CD848021AD8258D454783CDE12D8746E22788269F38F94F1D623F88BD15BDE6626E581A4D4ACA7D3BEA4F3FCD851ACB88A2E785B66F" />
    <customErrors mode="Off" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
	
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
   
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory,        System.Web.Extensions,  Version=1.0.61025.0,        Culture=neutral,        PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory,        System.Web.Extensions, Version=1.0.61025.0,        Culture=neutral,        PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler,        System.Web.Extensions, Version=1.0.61025.0,        Culture=neutral,        PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule,        System.Web.Extensions,        Version=1.0.61025.0, Culture=neutral,        PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
    <!--<rewrite>
      <rules>
        <rule name="R1" stopProcessing="true">
          <match url="^itemview1/([0-9]+)" />         
          <action type="Rewrite" url="lightbox/itemview1.aspx?v={R:1}" />
        </rule>
     
        <rule name="R2" stopProcessing="true">
          <match url="^itemview2/([0-9]+)" />
          <action type="Rewrite" url="lightbox/itemview2.aspx?v={R:1}" />
        </rule>
        --><!--<rule name="R3">
          <match url="^discover" />
          <action type="Rewrite" url="editor/discover.aspx" />
        </rule>
        <rule name="R4">
          <match url="^brands" />
          <action type="Rewrite" url="editor/brands.aspx" />
        </rule>--><!--
      </rules>
    </rewrite>-->
	
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.3" newVersion="2.1.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>